server {
listen       80;
server_name <%= @host %>;
access_log  /var/log/nginx/<%= @name %>.access.log;
error_log  /var/log/nginx/<%= @name %>.error.log;

location <%= @context_path %> {
proxy_pass http://localhost:<%= @destination_port %>;
proxy_set_header Host $http_host;
proxy_set_header Remote-Addr $http_remote_addr;
proxy_set_header X-Real-IP $remote_addr;
}

send_timeout               120;
client_body_timeout        120;
proxy_connect_timeout      75;
proxy_send_timeout         90;
proxy_read_timeout         90;
proxy_buffer_size          4k;
proxy_buffers              4 32k;
proxy_busy_buffers_size    64k;
proxy_temp_file_write_size 64k;
client_max_body_size       60M;
}